# IDEA
.idea/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment & secrets
.env
/allure-results/
pages/__pycache__/
tests/__pycache__/
utils/__pycache__
core_values.json
downloads/
__pycache__
